@model BMI
@{
    ViewData["Title"] = "BMI Calculator";
}
<div class="row">
    <div class="col"></div>
    <div class="col">
        <h1 class="text-danger">Body Mass Index Calculator</h1>
        <form asp-action="Index" method="post">
            <div>
                <label asp-for="Height" class="form-label">Height</label>
                <input type="text" class="form-control" asp-for="Height" value="@ViewBag.Height" />
            </div>
            <div>
                <label asp-for="Weight" class="form-label">Weight</label>
                <input type="text" class="form-control" asp-for="Weight" value="@ViewBag.Weight" />
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-action="Index" class="btn btn-outline-primary">Clear</a>
            </div>
        </form>
    </div>
    <div class="col">
        <div class="display-5 text-success">@ViewBag.BMI.ToString()</div>
    </div>
</div>
