@model MPG;
@{
    ViewData["Title"] = "MPG";
}

<h1>Miles Per Gallon Calculator</h1>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form asp-action="Index" method="post">
            <div>
                <label asp-for="MilesDriven" class="form-label">Miles Driven: </label>
                <input asp-for="MilesDriven" class="form-control" value="@ViewBag.MilesDriven.ToString()" />
            </div>
            <div>
                <label asp-for="GallonsUsed" class="form-label">Gallons Used: </label>
                <input asp-for="GallonsUsed" class="form-control" value="@ViewBag.GallonsUsed.ToSting()" />
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
